* {
    margin: 0;
    padding: 0;
}
html  {
    font-size: 0.9vh;
    --font-size-xs: 2rem;
    --font-size-s: 2.5rem;
    --font-size-m: 3.5rem;
    --font-size-l: 4.5rem;
}
html, 
body {
    height: 100%;
}

#greetingsArea {
    height: 25vh;
    border: 10px rgb(0, 0, 0) solid;
    font-size: var(--font-size-m);
    display: flex;
    justify-content: flex-end;

}

#grLine1 {
    padding: 50px 50px 0px 0px;
    width: 35vw;
    text-align: center;
} 

button {
    width: 75vw;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.buttons_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    height: 100vh;
}
.buttons_flex section {
    border: 10px rgb(0, 0, 0) solid;
}

#center {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-size-l);
}

#registration_lower {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainBut {
    margin-top: 7vh;
    height: 7vh;
    font-size: var(--font-size-l);
}

.loginBut {
    width: 20vw;
    font-size: var(--font-size-s);
}

#orLine {
    font-size: var(--font-size-xs);
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}